[submodule "extensions/a1111-sd-webui-locon"]
	path = extensions/a1111-sd-webui-locon
	url = https://github.com/KohakuBlueleaf/a1111-sd-webui-locon
[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet.git
[submodule "extensions/sd_dreambooth_extension"]
	path = extensions/sd_dreambooth_extension
	url = https://github.com/d8ahazard/sd_dreambooth_extension.git
